OBSIDIAN_AUDIT_LOG_PATH=
OBSIDIAN_DENY_ACTIONS=DeleteVault,DeleteFolder
OBSIDIAN_REQUIRE_APPROVAL_ACTIONS=WriteNoteAtomic,AppendNote,ReplaceInNote,DeleteNote
OBSIDIAN_HIGH_RISK_PATH_PATTERNS=.obsidian,Templates
